@media screen and (min-width: 651px) {
    a.icone {
        display: none;
    }
}
@media screen and (max-width: 650px) { 
    div.nig {
        display: none;
    }
    #nag {
        width: 6.5vh;
    }
}
a:hover{
    background-color: transparent;
}
* {
    -webkit-tap-highlight-color: transparent;
}
header {
    background-color: rgb(88, 104, 197);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    height: 100px;
    margin-left: 0px;
}
nav.header{
    display: flex;
}
ul.menu {
    display: flex;
    margin-left: auto;
    margin-right: 40px;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
#nag {
    margin-top: 18px;
    margin-bottom: 15px;
    color: black;
    background-color: lavender;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    margin-left: 10px;
    height: 15px;
    cursor: pointer;
}
.nig a {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.nig{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 10px;
    margin-left: 40px;
    position: absolute;
}
a.icone {
    margin-top: 10px;
    width: 70px;
    margin-left: 20px;
    position: absolute;
    background-color: rgb(77, 77, 156);
    border-radius: 20px;
}
img.s {
    width: 100%;
    height: 100%;
    margin-left: -1px;
    margin-top: 5px;
}
