html {
    height: 100%;
    margin-bottom: 0%;
    display:grid;
}
* {
    -webkit-tap-highlight-color: transparent;
}
@media screen and (max-width: 650px){
    #Pag1 {
        flex-direction: column;
    }
    div#sites {
        padding-right: 110px;
        justify-content: center;
        margin-left: 22px;
    }
    p.desc {
        font-size: 1vh;
    }
    div.infocube {
        padding-bottom: 20px;
    }
    div.nig {
        display: none;
    }
    #nag {
        width: 6.5vh;
    }
    a.pretu {
        width: 45%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    a#conserto {
        margin-left: -22px;
        margin-right: 55px;
    }
    div.fom {
       margin-top: 380px;
       width: 98%;
       height: auto;
       margin-bottom: -40%;
    }
    div.nig {
        margin-left: -25px;
        margin-right: 5px;
    }
}
@media screen and (min-width: 651px) {
    a.icone {
        display: none;
    }
}
a:hover{
    background-color: transparent;
}
header {
    background-color: rgb(88, 104, 197);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    height: 100px;
    margin-left: 0px;
}
body {
    min-height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
}
ul {
    display: flex;
}
a {
    text-decoration: none;
}
#nag {
    margin-top: 18px;
    margin-bottom: 15px;
    color: black;
    background-color: lavender;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    margin-left: 10px;
    height: 15px;
    cursor: pointer;
}
#nag a {
    color: black;
    user-select: none;
    cursor: pointer;
}
.nig a {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.nig {
    margin-top: 10px;
    margin-bottom: 25px;
    padding-top: 10px;
}
a.icone {
    margin-top: -5px;
    width: 70px;
    margin-left: -25px;
    position: absolute;
    background-color: rgb(77, 77, 156);
    border-radius: 20px;
}
img.s {
    width: 100%;
    height: 100%;
    margin-left: -1px;
    margin-top: 5px;
}
div.space {
    display: flex;
    margin-left: auto;
}
img {
    width: 200px;
    height: 130px;
    border-radius: 10px;
}
div.cent {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}
h2 {
    margin-bottom: 0%;
}
p {
    margin-top: 0%;
}
div.infocube {
    width: 200px;
    height: 320px;
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 20%;
    border: 10px solid transparent;
}
.infocube:hover {
    background-color: rgba(128, 128, 128, 0.24);
}
div#sites {
    height: 60%;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
.fom .fam {
    display: grid;
    justify-content: center;
}
.fom {
    border: 1px solid rgb(88, 104, 197);
    background-color: rgba(204, 204, 236, 0.658);
    display: grid;
    border-radius: 10px;
    height: auto;
    width: 23%;
    margin-left: 5px;
}
footer {
    margin-top: auto;
    background-color: rgb(88, 104, 197);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
}
div#Pag1 {
    display: flex;
    margin-bottom: 10%;
}
.fof {
    margin-top: 5px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
a.ciu {
    color: white;
}
.cat {
    padding: 10px 15px 10px 15px;
    margin-left: auto;
    margin-right: 1%;
    border-radius: 50px;
    background-color: rgba(204, 204, 236, 0.658);
}
a.pretu {
    color: black;
}
form.foem {
    display: flex;
    flex-direction: column;
    user-select: none;
    height: auto;
    padding-bottom: 20px;
}
input.neka {
    height: 35px;
    width: 91%;
    padding-left: 4%;
    border-radius: 4px;
    background-color: rgb(200, 200, 253);
    border: 0px solid transparent;
    border-bottom: 2px solid rgb(223, 216, 189);
    border-right: 2px solid rgb(223, 216, 189);
    padding-top: 1%;
    padding-bottom: 0%;
}
input.noka {
    height: 35px;
    width: 91%;
    padding-left: 4%;
    border-radius: 4px;
    background-color: rgb(200, 200, 253);
    border: 0px solid transparent;
    border-bottom: 2px solid rgb(223, 216, 189);
    border-right: 2px solid rgb(223, 216, 189);
    padding-top: 1%;
    padding-bottom: 0%;
}
button#ind {
    border-radius: 10px;
    height: 50px;
    width: 250px;
    border: 0px solid transparent;
    background-color: rgb(88, 104, 197);
    color: white;
    margin-top: 5%;
    font-size: 15px;
    cursor: pointer;
    align-self: center;
}
label.ai {
    color: gray;
    font-size: 11px;
    margin-left: 10px;
    margin-top: 135px;
    position: absolute;
    user-select: none;
    width: 12vh;
    cursor: text;
}
label.ia {
    color: gray;
    font-size: 11px;
    margin-left: 10px;
    margin-top: 235px;
    position: absolute;
    user-select: none;
    width: 12vh;
    cursor: text;
}
input.neka:focus,
input.neka:valid {
    border-bottom: 2px solid cornflowerblue;
}
input.neka:focus ~ label.ai,
input.neka:valid ~ label.ai {
    display: none;
}
input.noka:focus,
input.noka:valid {
    border-bottom: 2px solid cornflowerblue;
}
input.noka:focus ~ label.ia,
input.noka:valid ~ label.ia {
    display: none;
}
#saida {
    position: relative;
    border: 0px solid transparent;
    margin-top: 30px;
    background-color: transparent;
    border-top: 2px solid cornflowerblue;
    width: 250px;
}
#imc, #saude, #grau {
    font-family: Arial;
    font-size: 15px;
    user-select: text;
}
