html {
    height: 100%;
    margin-bottom: 0%;
    display:grid;
}
body {
    min-height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
}
ul {
    display: flex;
}
a {
    text-decoration: none;
}
div.black {
    background-color: black;
    width: 13px;
    height: 13px;
    border-radius: 50px;
    margin-left: 3px;
}
a.pretu {
    color: black;
}
div.corpoI {
    margin-top: auto;
    background-color: white;
    height: 60%;
    width: 90%;
}
body div.corpoI {
    align-self: center;
}
div.formu{
   height: 80%;
   width: 45%;
   border: 1px solid rgb(88, 104, 197);
   border-radius: 15px;
   text-align: center;
   margin-top: 30px;
   display: grid;
}
div.corpoI div.formu {
    margin-left: 25%;
}
form {
    height: 90%;
    margin-top: auto;
}
div.bolo{
    margin-top: 5%;
}
div.bili {
    margin-top: 5%;
}
button.nea {
    margin-top: 5%;
    width: 65.7%;
    border-radius: 4px;
    height: 30px;
    border: 0px solid transparent;
    background-color: rgb(88, 104, 197);
    color: white;
}
input.naa {
    width: 65%;
    height: 20px;
    border-radius: 4px;
    background-color: rgb(200, 200, 253);
    border: 0px solid transparent;
    border-bottom: 2px solid rgb(223, 216, 189);
    border-right: 2px solid rgb(223, 216, 189);
    position: relative;
    padding-top: 1%;
}
input.nia {
    width: 65%;
    height: 20px;
    border-radius: 4px;
    background-color: rgb(200, 200, 253);
    border: 0px solid transparent;
    border-bottom: 2px solid rgb(223, 216, 189);
    border-right: 2px solid rgb(223, 216, 189);
    position: relative;
    padding-top: 1%;
}
input.noa {
    width: 65%;
    height: 20px;
    border-radius: 4px;
    background-color: rgb(200, 200, 253);
    border: 0px solid transparent;
    border-bottom: 2px solid rgb(223, 216, 189);
    border-right: 2px solid rgb(223, 216, 189);
    position: relative;
    padding-top: 1%;
}
label.ai {
    position: absolute;
    color: gray;
    font-size: 11px;
    margin-top: 0.6%;
    margin-left: -25%;
    z-index: 2;
    user-select: none;
}
label.ia {
    position: absolute;
    color: gray;
    font-size: 11px;
    margin-top: 0.6%;
    margin-left: -25%;
    z-index: 2;
    user-select: none;
}
label.iu {
    position: absolute;
    color: gray;
    font-size: 11px;
    margin-top: 0.6%;
    margin-left: -25%;
    z-index: 2;
    user-select: none;
}
div.tilt {
    margin-top: 5%;
    margin-bottom: 5%;
}
input.naa:focus,
input.naa:valid {
    border-bottom: 2px solid cornflowerblue;
}
input.naa:focus ~ label.ai,
input.naa:valid ~ label.ai {
    z-index: -1;
}
input.nia:focus,
input.nia:valid {
    border-bottom: 2px solid cornflowerblue;
}
input.nia:focus ~ label.ia,
input.nia:valid ~ label.ia {
    z-index: -1;
}
input.noa:focus,
input.noa:valid {
    border-bottom: 2px solid cornflowerblue;
}
input.noa:focus ~ label.iu,
input.noa:valid ~ label.iu {
    z-index: -1;
}